body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #444C5C;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px;
}

.button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#calendarButton {
    background-color: #3498db;
}

#filesButton {
    background-color: #e74c3c;
}

#discordButton {
    background-color: #7289DA;
}

#syrinscapeButton {
    background-color: #FF9900;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}
